/*! bulma-social v2.0.0 | MIT License | github.com/aldi/bulma-social */

.button {
	-webkit-transition-timing-function: cubic-bezier(.25, .46, .45, .94);
	-o-transition-timing-function: cubic-bezier(.25, .46, .45, .94);
	transition-timing-function: cubic-bezier(.25, .46, .45, .94);
	-webkit-transition-property: background-color;
	-o-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-duration: .3s;
	-o-transition-duration: .3s;
	transition-duration: .3s
}

.no-animation {
	-webkit-transition-property: none!important;
	-o-transition-property: none!important;
	transition-property: none!important
}

a {
	-webkit-transition: -webkit-transform 1s;
	transition: -webkit-transform 1s;
	-o-transition: transform 1s;
	transition: transform 1s;
	transition: transform 1s, -webkit-transform 1s
}

.button.is-xing {
	background-color: #026466;
	border-color: transparent;
	color: #fff
}

.button.is-xing.is-hovered,
.button.is-xing:hover {
	background-color: #026466;
	border-color: transparent;
	color: #fff
}

.button.is-xing.is-focused,
.button.is-xing:focus {
	border-color: transparent;
	color: #fff
}

.button.is-xing.is-focused:not(:active),
.button.is-xing:focus:not(:active) {
	-webkit-box-shadow: 0 0 0 .125em rgba(10, 102, 194, .25);
	box-shadow: 0 0 0 .125em rgba(10, 102, 194, .25)
}

.button.is-xing.is-active,
.button.is-xing:active {
	background-color: #026466;
	border-color: transparent;
	color: #fff
}

.button.is-xing[disabled],
fieldset[disabled] .button.is-xing {
	background-color: #026466;
	border-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none
}

.button.is-xing.is-inverted {
	background-color: #fff;
	color: #026466
}

.button.is-xing.is-inverted.is-hovered,
.button.is-xing.is-inverted:hover {
	background-color: #f2f2f2
}

.button.is-xing.is-inverted[disabled],
fieldset[disabled] .button.is-xing.is-inverted {
	background-color: #fff;
	border-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #026466
}

.button.is-xing.is-loading::after {
	border-color: transparent transparent #fff #fff!important
}

.button.is-xing.is-outlined {
	background-color: transparent;
	border-color: #026466;
	color: #026466
}

.button.is-xing.is-outlined.is-focused,
.button.is-xing.is-outlined.is-hovered,
.button.is-xing.is-outlined:focus,
.button.is-xing.is-outlined:hover {
	background-color: #026466;
	border-color: #026466;
	color: #fff
}

.button.is-xing.is-outlined.is-loading::after {
	border-color: transparent transparent #026466 #026466!important
}

.button.is-xing.is-outlined.is-loading.is-focused::after,
.button.is-xing.is-outlined.is-loading.is-hovered::after,
.button.is-xing.is-outlined.is-loading:focus::after,
.button.is-xing.is-outlined.is-loading:hover::after {
	border-color: transparent transparent #fff #fff!important
}

.button.is-xing.is-outlined[disabled],
fieldset[disabled] .button.is-xing.is-outlined {
	background-color: transparent;
	border-color: #026466;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #026466
}

.button.is-xing.is-inverted.is-outlined {
	background-color: transparent;
	border-color: #fff;
	color: #fff
}

.button.is-xing.is-inverted.is-outlined.is-focused,
.button.is-xing.is-inverted.is-outlined.is-hovered,
.button.is-xing.is-inverted.is-outlined:focus,
.button.is-xing.is-inverted.is-outlined:hover {
	background-color: #fff;
	color: #026466
}

.button.is-xing.is-inverted.is-outlined.is-loading.is-focused::after,
.button.is-xing.is-inverted.is-outlined.is-loading.is-hovered::after,
.button.is-xing.is-inverted.is-outlined.is-loading:focus::after,
.button.is-xing.is-inverted.is-outlined.is-loading:hover::after {
	border-color: transparent transparent #026466 #0a66c2!important
}

.button.is-xing.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-xing.is-inverted.is-outlined {
	background-color: transparent;
	border-color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff
}

.button.is-xing.is-light {
	background-color: #ecf5fe;
	color: #026466
}

.button.is-xing.is-light.is-hovered,
.button.is-xing.is-light:hover {
	background-color: #dfeefd;
	border-color: transparent;
	color: #026466
}

.button.is-xing.is-light.is-active,
.button.is-xing.is-light:active {
	background-color: #d3e8fd;
	border-color: transparent;
	color: #026466
}

.button.is-static {
	background-color: #f5f5f5;
	border-color: #dbdbdb;
	color: #7a7a7a;
	-webkit-box-shadow: none;
	box-shadow: none;
	pointer-events: none
}

.has-text-xing {
	color: #026466!important
}

a.has-text-xing:focus,
a.has-text-xing:hover {
	color: #026466!important
}

.has-background-xing {
	background-color: #026466!important
}

.has-text-xing-light {
	color: #ecf5fe!important
}

a.has-text-xing-light:focus,
a.has-text-xing-light:hover {
	color: #bbdbfc!important
}

.has-background-xing-light {
	background-color: #ecf5fe!important
}

.has-text-xing-dark {
	color: #026466!important
}

a.has-text-xing-dark:focus,
a.has-text-xing-dark:hover {
	color: #026466!important
}

.has-background-xing-dark {
	background-color: #026466!important
}